table{
    color: #fff;
    text-align: center;
    border-collapse: collapse;
    font: normal 3em Arial, Helvetica, sans-serif;
}

tr{
    height: 16.02vh;
    background-color: #4e494d;
}

td{
    width: 25vw;
    border: 1px solid #fff;
}

#inputBox{
    background-color: #4e494d;
    text-align: right;
    width:  100%;
    font-size: 1em;
    color: #fff;
    border: opx;
}

.digitButton{
    background-color: #807e80;
}

.operatorButton, .equalsButton{
    background-color: #ff9e06;
}

.ACButton{
    background-color: #656165;
}

