.gallery img{
    width:100%;
}

h2{
    font-family: Impact, fantasy;
    font-size: 30px;
    font-style: italic;
    text-align: center;
    color: cornflowerblue;
}

h4{
    font-family: Impact, fantasy;
    font-size: 20px;
    font-style: italic;
    color: cornflowerblue;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}
#menu{
    width: 100%;
    height: 40px;
    padding-top: 12px;
    background-color: cornflowerblue;
}

#menu a{
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;

    color: #ffffff;
    text-decoration: none;
}

#menu a:hover{
    color: #5077bd;
}