h1{
    color: green;
    font-family: sans-serif;
}

#menu-bar p{ 
    color: coral;
    font-family: fantasy;
}

ul{
    list-style-type: circle;
    list-style-image: url('images/pointer-icon.png');
}

ol{
    list-style-type: upper-roman;
}

#menu-bar a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    background-color: aqua;
    padding: 5px;
}

#menu-bar a:hover{
    background-color: aquamarine;
    color: #ffffff;
}